.improvement {
    color: #fd397a;
    font-weight: 500;
    width: 100%;
}

.neutral {
    color: #ffb822;
    font-weight: 500;
    width: 100%;
}

.well {
    color: #5bc0de;
    font-weight: 500;
    width: 100%;
}

.bd-callout {
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}

.bd-callout-danger {
    border-left-color: #d9534f;
}
