<div class="row" *ngIf="model && model.length > 0">
  <div class="col-sm">
    <label class="improvement mb-4">What could be improved</label>
    <div *ngFor="let item of model">
      <div class="card w-100 bd-callout bd-callout-danger mt-2" *ngIf="item.type === 'To Improve'">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.message }}</p>
        </div>
        <div class="card-footer bg-transparent">
          <small class="text-muted">Last updated 3 mins ago</small>
          <a (click)="editCard(item)" class="card-link float-right">Edit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <label class="well mb-4">What went well</label>
    <div *ngFor="let item of model">
      <div class="card w-100 bd-callout bd-callout-info mt-2" *ngIf="item.type === 'Went Well'">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.message }}</p>
        </div>
        <div class="card-footer bg-transparent">
          <small class="text-muted">Last updated 3 mins ago</small>
          <a (click)="editCard(item)" class="card-link float-right">Edit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <label class="actions mb-4">Actions</label>
    <div *ngFor="let item of model">
      <div class="card w-100 bd-callout bd-callout-actions mt-2" *ngIf="item.type === 'Actions'">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.message }}</p>
        </div>
        <div class="card-footer bg-transparent">
          <small class="text-muted">Last updated 3 mins ago</small>
          <a (click)="editCard(item)" class="card-link float-right">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
