<div class="modal-body">
  <form [formGroup]="sprintFormGroup">
      <div class="form-group">
          <label for="message-text" class="col-form-label">Title:</label>
          <input 
              [ngClass]="{'is-valid': sprintFormGroup.controls.title.valid, 
              'is-invalid': !sprintFormGroup.controls.title.valid && sprintFormGroup.controls.title.touched }"
              class="form-control" 
              id="title-text"
              formControlName="title"
              maxlength="20" required />
              <small id="passwordHelpBlock" class="form-text text-muted">
                  {{ sprintFormGroup.controls.title.value.length }} of 20
              </small>
      </div>
  </form>
</div>