<div class="pt-5">
    <div class="pb-5">
            <button type="button" class="btn btn-outline-primary float-right" data-toggle="modal" [attr.data-target]="'#' + modalSprintFormId" (click)="openModal()">Create New Sprint</button>
        <button type="button" class="btn btn-outline-primary float-right mr-3" data-toggle="modal" [attr.data-target]="'#' + modalCardsFormId" #openModalButton (click)="openModal()" [disabled]="disabledCreateNewCard">Create New Card</button>
        <button type="button" class="btn btn-outline-primary float-right mr-3" data-toggle="modal" [attr.data-target]="'#' + modalFilterFormId" (click)="openModal()">Filter</button>
    </div>
    <div class="pt-5">
        <!-- <span>Teste</span> -->
        <app-retrospective-list
            [sprint]="itemSprint"
            [model]="model"
            (editItem)="editItem($event)"
            (deleteItem)="deleteItem($event)">
        </app-retrospective-list>
    </div>
</div>

<!-- Modal Card Form -->
<app-modal 
    [modalId]="modalCardsFormId"
    [title]="modalTitle"
    [isValid]="cardFormGroup.valid"
    [close]="close"
    [submitButtonText]="submitButtonText"
    (submit)="saveCard()">
    <app-card-form [cardFormGroup]="cardFormGroup"></app-card-form>    
</app-modal>

<!-- Modal Sprint Form -->
<app-modal 
    [modalId]="modalSprintFormId"
    [title]="modalSprintTitle"
    [isValid]="sprintFormGroup.valid"
    [close]="close"
    [submitButtonText]="submitButtonText"
    (submit)="saveSprint()">
    <app-sprint-form [sprintFormGroup]="sprintFormGroup"></app-sprint-form>
</app-modal>

<!-- Modal Filter Form -->
<app-modal 
    [modalId]="modalFilterFormId"
    [title]="modalFilterTitle"
    [isValid]="filterFormGroup.valid"
    [close]="close"
    [submitButtonText]="filterButtonText"
    (submit)="filterSprint()">
    <app-filter-form [model]="modelListSprints" [filterFormGroup]="filterFormGroup"></app-filter-form>
</app-modal>