.workout-type {
    display: flex;
    &__pane {
      flex: 1 0 30%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      margin: 0 15px 0 0;
      background: #f5f9fd;
      border: 1px solid #d1deeb;
      border-radius: 3px;
      transition: all .2s ease-in-out;
      &:hover {
        background: darken(#f5f9fd, 3%);
      }
      &.active {
        background: darken(#d4edda, 3%);
        img, p, i {
          opacity: 1;
        }
      }
      img {
        opacity: .6;
        margin: 0 25px 0 0;
        width: 35px;
      }
      p, i {
        opacity: .6;
        margin: 0;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }